{% extends "base.html" %}
{% block title %}Архив записей{% endblock %}
{% block extra_css %}
    {#<link rel="stylesheet" href="/static/debug.css">#}
    <style>
        tr.is-send {
            background: #d0e9c6;
            color: #000;
        }
    </style>
{% endblock %}
{% block extend_menu %}
    <b-navbar-item tag="div">
        <div class="buttons">
            <button class="button field is-success" @click="confirm"
                    :disabled="!checkedRows.length">
                <b-icon icon="send"></b-icon>
                <span>Отправить</span>
            </button>
        </div>
    </b-navbar-item>
<b-navbar-item tag="div">
        <div class="buttons">

            <button class="button field is-info" :disabled="!selected.id"
                    @click="modalClk()">
                <b-icon icon="video"></b-icon>
                <span>Посмотр</span>
            </button>
        </div>
    </b-navbar-item>
{% endblock %}
{% block content %}
{% include "order_modal.html" %}
<b-loading is-full-page="true" :active.sync="isLoading" can-cancel="false"></b-loading>

    <b-modal :active.sync="modalVideo" has-modal-card>
        <div class="modal-card">
            <header class="modal-card-head"><br>
                <p class="modal-card-title">Заказ N[[selected.order_id]]</p>
            </header>
            <video :src="'{{ cdn_url }}/records/' + selected.filename + '.mp4'" controls
                   autoplay></video>
        </div>
    </b-modal>

    <div class="container">
    <div class="column is-12">
        <b-table
                :data="all_records"
                paginated
                pagination-simple
                per-page="25"
                :selected.sync="selected"
                {#            hoverable#}
                checkable
                checkbox-position="left"
                {#            :checked-rows.sync="(row) => row.finish"#}
                :is-row-checkable="(row) => !row.publish"
                :row-class="(row, index) => row.publish && 'is-send'"
                {#            :row-class="(row, index) => row.duration_human && 'is-send'"#}
                :checked-rows.sync="checkedRows"
                {#            :current-page.sync="currentPage"#}
                default-sort="row.rec_time_iso"
{#                backend-sorting#}
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
                :mobile-cards="mcards"
        >

            <template slot-scope="props">
                <b-table-column field="order_id" label="Номер заказа" sortable searchable>
                    <b-button icon-left="format-list-bulleted"
                                      type="is-success"
                                      @click="get_order_info(props.row.order_id)"
                                      class="is-small"
                                      outlined
                                      title="Состав заказа"
                    ></b-button>
                    [[ props.row.order_id ]]
                </b-table-column>

                <b-table-column field="rec_time_iso" label="Время записи" sortable>
                    [[ props.row.rec_time_iso ]]
                </b-table-column>

                <b-table-column field="publish_time_iso" label="Время публикации" sortable>
                    [[ props.row.publish_time_iso ]]
                </b-table-column>

                <b-table-column field="duration_human" label="Длина" sortable>
                    [[ props.row.duration_human ]]
                </b-table-column>

                <b-table-column field="size_human" label="Размер" sortable>
                    [[ props.row.size_human ]]
                </b-table-column>

                <b-table-column field="cam_name" label="URL">
                    <template v-if="props.row.publish">
                        <a :href="'/?v='+props.row.short_url">[[props.row.short_url]]</a>
                    </template>
                </b-table-column>

                <b-table-column field="open" label="Open" sortable centered>
                    <template slot="header" slot-scope="{ column }">
                        <b-icon icon="eye"></b-icon>
                    </template>
                    [[ props.row.open ]]
                </b-table-column>


                <b-table-column field="cam_name" label="Камера">
                    [[ props.row.cam_name ]]
                </b-table-column>

            </template>
        </b-table>
    </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                vcams: null,
                order: '',
                order_status: false,
                input_type: 'is-info',
                loading: false,
                input_order_dis: false,
                allow_record: false,
                now_record: false,
                all_records: [{}],
                sortIcon: 'arrow-up',
                checkedRows: [],
                isComponentModalActive: false,
                modalVideo: false,
                selected: {},
                rerender: 1,
                isOrderModalActive: false,
                order_info: {},
                items_table: {},
                send_result: {},
                isLoading: false,
                mcards: false
            },
            methods: {
                modalClk() {
                    this.modalVideo = true
                },
                postData: FetchFun,
                on_record_click(cam_id, cam_record) {
                    this.postData('videocam/' + cam_id, 'PUT', {'record': cam_record, 'order': this.order});
                    this.now_record = !this.now_record;
                    if (!this.now_record) {
                        this.order = '';
                        this.input_type = 'is-info';
                    }
                    this.allow_record = false;
                    console.log("Clik!");
                },
                async send_video(data) {
                    this.isLoading = true;
                    await FetchFun('sendorder', 'POST', data).then(data => this.send_result = data)
                        .catch(error => console.error(error));
                    this.isLoading = false;
                    if (this.send_result.status){
                        this.$buefy.toast.open({
                             message: 'Отпрвлено !',
                             type: 'is-success'
                        });
                    }
                    if (!this.send_result.status){
                        this.$buefy.toast.open({
                             message: 'Oops! Что-то пошло не так :(',
                             type: 'is-danger'
                        });
                    }

                    FetchFun('videorec', 'GET').then(data => this.all_records = data)
                        .catch(error => console.error(error));
                    this.checkedRows = [];
                },

                confirm() {
                    this.$buefy.dialog.confirm({
                        title: 'Выбрано файлов - ' + this.checkedRows.length,
                        message: 'Отправить эти ролики клиенту ?',
                        cancelText: 'Нет',
                        confirmText: 'Да',
                        type: 'is-success',
                        onConfirm: () => this.send_video(this.checkedRows)
                    })
                },
                async get_order_info(order_id) {
                    this.loading = true;
                    this.input_order_dis = true;
                    await FetchFun('order', 'POST', {'order': parseInt(order_id)}).then(data => this.order_info = data)
                        .catch(error => console.error(error));
                    this.loading = false;

                    this.order_status = this.order_info.status;

                    if (this.order_status) {
                        this.order_info = this.order_info.order;
                        this.allow_record = true;
                        this.icon_click = true;
                        this.items_table = this.order_info.basketItems;
                        this.isOrderModalActive = true;
                    } else {
                        this.$buefy.dialog.alert({
                            title: 'Ошибка',
                            message: 'Заказа с таким номером не существует. Что-то тут не так...',
                            type: 'is-danger',
                            hasIcon: true,
                        })
                    }
                },
            },
            beforeMount() {
                FetchFun('videorec', 'GET').then(data => this.all_records = data)
                    .catch(error => console.error(error))
                ;
            },
        });
    </script>
{% endblock %}
