{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "favicon.html" %}
    <link rel="stylesheet" href="{% static '/css/buefy.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/video-js.min.css' %}" />
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{# <link rel="stylesheet" href="static/debug.css">#}
    {% block extra_css %}{% endblock %}

    <title>
        {% block title %}Список всех камер{% endblock %}  - Торговая Компания «Папа Карло»
    </title>
</head>

<body>
<div id="app">
{% if user.is_authenticated %}
<template>
    <b-navbar :fixed-top="true" >
        <template slot="brand">
            <b-navbar-item href="/">
                <img
                    src="{% static '/img/papa-logo.png' %}"
                    alt="PapaLogo"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item href="/">
                Начало
            </b-navbar-item>
            <b-navbar-item href="/?arch">
                Архив
            </b-navbar-item>
            {% block extend_menu %}
            {% endblock %}
        </template>

            <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-light" href="/logout" title="Выход">
                        <b-icon icon="logout"></b-icon>
                    </a>
                </div>
            </b-navbar-item>
        </template>

    </b-navbar>
</template>
{% endif %}

{% block single_video %}
{% endblock %}

{% block content %}
{% endblock %}
{% include "footer.html" %}
</div>
<script src="{% static '/js/vue.min.js' %}"></script>
<script src="{% static '/js/buefy.min.js' %}" ></script>
<script src="{% static '/js/video.min.js' %}"></script>
<script src="{% static '/js/videojs-ie8.min.js' %}"></script>
<script>

    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }
    function FetchFun(url, type, data) {
        return fetch('/api/' + url + '/',
            {
                method: type,
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json"
                },
                body:  JSON.stringify(data)
            }
        ).then(response => response.json()).then((responseJson)=>{return responseJson});
    }
</script>

{% block extra_js %}{% endblock %}
</body>
</html>
